<% provide :title, t(".title") %>
<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title"><%= t ".title" %></h3>
      </div>
    </div>
  </div>
  <%= render "users/user_list" %>
</div>
